<div class="footer">
  <div class="footer-navigation">
      <ul>
          <li><a href="/pages/about-us">About Us</a></li>
          <li><a href="/pages/contact">Contact</a></li>
          <li><a href="/policies/privacy-policy">Privacy Policy</a></li>
      </ul>
  </div>
  <div class="social-media">
      <!-- Social media links -->
      <a href="http://instagram.com">Instagram</a>
      <a href="http://facebook.com">Facebook</a>
  </div>
  <div class="copy-right">
      © {{ 'now' | date: "%Y" }} {{ shop.name }}. All rights reserved.
  </div>
</div>
